:root {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  &.flex-center {
    align-items: center;
    justify-self: center;
  }
}

.text-large {
  font-size: large;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.text-right {
  text-align: right;
}

.space-top {
  margin-top: 12px;
  &.short {
    margin-top: 4px;
  }
  &.meduim {
    margin-top: 8px;
  }
  &.long {
    margin-top: 16px;
  }
}

.space-below {
  margin-bottom: 12px;
  &.short {
    margin-bottom: 4px;
  }
  &.meduim {
    margin-bottom: 8px;
  }
}

.space-left {
  margin-left: 12px;
  &.short {
    margin-left: 4px;
  }
  &.meduim {
    margin-left: 8px;
  }
}

.space-right {
  margin-right: 12px;
  &.short {
    margin-right: 4px;
  }
  &.meduim {
    margin-right: 8px;
  }
}

.flex-wrap-mobile {
  flex-wrap: nowrap;
}

.only-desktop {
  display: block;
}

@media only screen and (max-width: 800px) {
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }
  .only-desktop {
    display: none;
  }
}
